.authWrapper{
    display: flex;
    height: 100vh;
    overflow: hidden;
    justify-content: space-between;
}

.formCon{
    height: 100%;
    padding: 3em;
    width: 30%;
}

.formCon img{
    display: block;
    margin: 0 auto;
}

.formCon nav{
    margin: 2rem 0;
    display: flex;
    text-align: center;
}

.formCon nav a{
    display: block; 
    width: 100%;
    padding: 1rem;
    text-decoration: none;
    border: 2px solid transparent;
}

.formCon nav a:hover, .formCon nav a:active, .formCon nav a:focus{
    border-bottom: 2px solid #1AB8E7;
    color: #1AB8E7;
}

.loginForm, .signupForm{
    margin: 2rem 0;
}

.loginForm input, .loginForm a, .signupForm input{
    display: block;
    margin: .8rem 0;
    padding: .8rem;
    width: 100%;
    outline: none;
}

.flexit{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: row;
}

.flexit a{
    width: 40%;
}

.flexit input{
    margin: 0;
    padding: 0;
    width: 5%;
}

button{
    display: block;
    background-color: #1AB8E7;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    padding: .8rem 2rem;
    outline: none;
    border: none;
    margin: 0 auto;
    margin-top: 4rem;
}

button:hover{
    outline: #1AB8E7 2px solid;
    background-color: white;
    color: #1AB8E7;
}

.signupFlex{
    display: flex;
    justify-content: space-between;
    gap: .8rem;
}

.signupFlex input{
    display: block;
}